
{volist name='attr' id='vol'}
	{eq name='vol.attr_input_type' value='1'}
	<p class="short-input ue-clear">
    	<label>{$vol.attr_name}：</label>
        <input name="attr[{$vol.id}][]" type="text" placeholder="{$vol.attr_name}..." />
	</p>
	{else/}
	<div class="short-input select ue-clear">
		<label>{eq name='vol.attr_type' value='2'}<a href="javascript:;" onclick="cloneSelf(this)">[+]</a>{/eq}{$vol.attr_name}：</label>
		<div class="select-wrap">
			<select name="attr[{$vol.id}][]">
				{volist name='vol.attr_value' id='vo'}
				<option>{$vo}</option>
				{/volist}
			</select>
		</div>
	</div>
	{/eq}
{/volist}